body {
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;
}
p {
    font-size: 15px;
}

/* OMAR NAVA TITLE */

#home {
    padding: 250px 0px;
    font-family: 'Raleway', sans-serif;
}

#name-title {
    letter-spacing: 10px;
    color: white;
    text-shadow: grey;
}

#job-subtitle {
    letter-spacing: 4px;
    color: white;
}

        /* Create a Parallax Effect */
.big-img1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
    /* First image */
.big-img1 {
background-image: url("../images/portrait.jpg");
min-height: 100%;
}  

/* ABOUT ME */
.about-me {
  margin: 40px 5px;
}

#about-me-title {
    margin-bottom: 3rem;
}

