html, body {
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
.row {
    margin: 0;
}
p {
    font-size: 15px;
}

/* Create a Parallax Effect */
.back-img1, .back-img2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAV BAR */
.navbar {
    /* box-shadow: 0px .5px 5px black; */
}

.bg-dark {
    background-color: transparent !important;
}

.dropdown-menu {
    border: none;
}

.dropdown-menu-dark {
    background-color: transparent !important;
}

/* OMAR NAVA TITLE */
#home {
    padding: 250px 0px;
    font-family: 'Raleway', sans-serif;
}

#name-title {
    letter-spacing: 10px;
    color: white;
    text-shadow: rgb(155, 152, 152);
}

#job-subtitle {
    letter-spacing: 4px;
    color: white;
}

.back-img1 {
    background-image: url("../images/portrait.jpg");
}  

/* ABOUT ME */
.about-me {
    padding: 5rem;
} 

#about-me-title {
    margin-bottom: 3rem;
    letter-spacing: 10px;
    font-size: 1.75rem;
}

#line-design {
    width: 150px;
    height: 1px;
    margin: -20px auto 30px auto;
}

.p-about-me {
    padding: 0 10em;
}

/* WEB DEV IMAGE */
.back-img2 {
    background-image: url("../images/web-developer.jpeg");
    min-height: 50px;
    padding: 100px;
}  

#web-dev-title {
    letter-spacing: 10px;
    font-size: 1.75rem;
    line-height: 40px;
}

/* WEB DEV PROJECT SECTION */
.web-dev-projects {
    background-color: #d1e0e0 !important;
}

.card {
    border: 0;
}

.py-5 {
    padding-bottom: 2rem !important;
}

/* CONTACT ME SECTION */
.contact-icon {
    margin-right: 10px;
}

.contact-img {
    padding: 10px;
}

.contact-info {
    padding: 10px;
}

.contact-info h6 {
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
}

/* FOOTER SECTION */
.icon {
    color: teal;
}
.icon-links {
    padding-bottom: 10px;
}

.copyright {
    padding-bottom: 40px;
}



/* MEDIA QUERIES FOR SCREEN SIZES */
@media screen and (min-width: 1200px) {
    .p-about-me {
        padding: 0 200px;
    }
    
}

@media (max-width:1200px) and (min-width:540px) {
    .p-about-me {
        padding: 0 40px;
    }

}

@media screen and (max-width: 540px) {
    .p-about-me {
        padding: 0 0;
    }
    
    .about-me {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 768px)
.container, .container-md, .container-sm {
    max-width: 80%;
}

@media (min-width: 768px)
.container, .container-md, .container-sm {
    max-width: 0px;
}